*{
    margin: 0;
}
#full{
    display: flex;
}
html{
    background-image: url("./img/bien5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    cursor: pointer;
}
body{
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(117, 117, 117);
    border-radius: 4px;
}
/* phần top */
#top{
    z-index: 5;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
}
#src{
    border: none;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.589);
    color:white;
    outline: none;
}
#src:focus{
    border: 1px solid rgb(255, 255, 255);
}
#bla{
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}
#top #home:hover, #top #giohang:hover{
    color: rgb(255, 255, 255);

}
.top-item{
    font-weight: 700;
    color: gray;
    border: 4px ;
    margin: 8px;
    padding: 10px;
    font-size: larger;
    text-decoration: none;
}
#no1{
    color: white;
}
#search{
    margin-left: 30px;
    color: white;
}
.join-item{
    color: gray;
    margin: 8px;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
}
.join-item:hover{
    color: rgb(255, 255, 255);
}
#join{
    margin: 15px;
    padding: 4px;
    flex-shrink: 0;
    border: 3px solid blue;
    border-radius: 10px;
}
.logged{
    margin: 5px;
    background-color: rgb(73, 73, 73);
    position: absolute;
    z-index: 6;
    width: 200px;
    height: 63px;
    right: 5px;
    border-radius: 20px;
    transition: all 200ms linear;
    cursor: default;

}
.logged:hover{
    background-color: rgb(73, 73, 73);
    height: 300px;
}
.my-hide{
    width: 200px;
    height: 1px;
    display: none;
    position: absolute;
    right: 0;
    top: 65px;
    transition: all 200ms linear;
}
.logged:hover>.my-hide{
    display: block;
    height: 230px;
}
.my-avatar{
    margin: 10px;
    width: 50px;
    height: 50PX;
    background-image: url("./img_avatar/avatar7.jpg");
    background-size: cover;
    border-radius: 50%;
}
.logged-item{
    position: absolute;
}
.mya{
    right: 10px;
    top: -3px;
}
.myn{
    color: white;
    font-weight: 600;
    right: 80px;
    top: 20px;
}


.my-flex{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.hide-item{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    transition: all 200ms linear;
    cursor: pointer;
}
.hide-item:hover{
    background-color: gray;
}
.my-money{
    padding: 20px 0;
    color: rgb(55, 255, 0);

}
.log-out{
    color: red;

}

.hide{
    display: none;
}
/* end */
#end{
    margin-top: 500px;
    background: rgb(58, 56, 56);
    height: 150px;
}
#end1{
    height: 150px;
    display: flex;
}
#end1 div{
    padding: 50px;
    border-left: 1px solid rgb(31, 30, 30);
    border-right: 1px solid rgb(31, 30, 30);
    width: 33%;
}
#end1 h2{
    color: rgb(158, 158, 158);
    text-align: center;
}
@media (max-width: 767px) {
    #bla{
        flex-shrink: 1;
    }
}