/* BT1 */

/* .bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#user{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user{
    background-image: url(.//pic/64572.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
#titlehere, #bodyhere{
    text-align: center;
} */








/* BT2 */

